input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield !important;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
	margin-bottom: 60px;

	@media (max-width: 768px) {
		margin-bottom: 50px;
	}

	&__title {
		max-width: 600px;
		margin: 0 auto 30px;
	}

	&__about {
		font-weight: 400;
		font-size: 17px;
		line-height: 26px;
		text-align: center;
		letter-spacing: -0.02em;
		margin-bottom: 30px;
		color: rgba(255, 255, 255, 0.6);

		@media (max-width: 425px) {
			margin-bottom: 25px;
		}


		@media (max-width: 375px) {
			font-size: 14px;
		}
	}

	&__about--bot {
		font-size: 15px;
		line-height: 26px;
		color: rgba(255, 255, 255, 0.4);
		margin-bottom: 0;
	}

	&__about,
	&__about--bot {
		font-size: 15px;
		line-height: 24px;
	}



	&__inner {
		display: grid;
		grid-template-columns: minmax(385px, 600px) minmax(235px, 385px);
		grid-template-rows: 420px 155px;
		gap: 15px;
		//margin-bottom: 30px;

		@media (max-width: 768px) {
			grid-template-columns: 1fr;
			grid-template-rows: 420px 320px 290px;
			gap: 15px;
			//margin-bottom: 25px;
		}

		@media (max-width: 425px) {
			grid-template-rows: 450px 320px 305px;
		}

		@media (max-width: 375px) {
			grid-template-rows: 450px 320px 305px;
		}
	}

	&__frame,
	&__report,
	&__price {
		background: #4B4C5A;
		border-radius: 30px;

		@media (max-width: 768px) {
			padding: 23px !important;
		}
	}

	&__frame {
    overflow: hidden;
    padding: 60px 40px 20px;
    display: flex;
    flex-direction: column;
  }

	&__invest-price-box,
	&__megahashes-box {
		display: flex;
		flex-direction: column;
		gap: 5px 0;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}

	&__equally {
		display: flex;
		padding-top: 15px;
	}

	&__megahashes-box {
		position: relative;
	}

	&__invest-price-box {
		position: relative;
	}

	&__invest-box {
		display: flex;
		gap: 0 20px;
		margin-bottom: 40px;
		align-items: center;

    @media (max-width: 900px) {
      gap: 0 10px;
    }
		@media (max-width: 768px) {
			margin-bottom: 50px;
		}

		@media (max-width: 375px) {
		}
	}

	&__invest-price-text,
	&__megahashes-text {
		font-weight: 500;
		font-size: 15px;
		line-height: 22px;

		@media (max-width: 768px) {
			font-size: 14px;
		}
	}

	&__invest-price,
	&__megahashes {
    display: flex;
		font-weight: 700;
		font-size: 46px;
		line-height: 50px;
		letter-spacing: -0.04em;
		background: #4B4C5A;
    border: none;

    width: 200px;

    & input {
      padding: 0;
      min-width: 0;
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      border: none;
      background: transparent;
    }

		@media (max-width: 900px) {
			font-size: 30px;
			line-height: 42px;
      width: 110px;
		}
	}

	&__price {
		grid-column-start: 1;
		grid-column-end: 3;

		padding: 40px;
		display: flex;
		justify-content: space-between;
		height: 155px;
		align-items: center;

		@media (max-width: 768px) {
			grid-column-start: 1;
			grid-column-end: 1;
			height: auto;
		}

		@media (max-width: 610px) {
			flex-direction: column;
		}

		@media (max-width: 425px) {
			align-items: flex-start;
			gap: 25px 0;
			height: 305px;
		}
	}

	&__currency-rate {
		display: flex;
		border-radius: 12px;
		overflow: hidden;
		width: fit-content;
		margin-bottom: 30px;

		@media(max-width: 600px) {
			margin-bottom: 25px;
		}

		@media(max-width: 375px) {
			flex-direction: column;
			width: 100%;
		}

	}

	&__current-rate,
	&__second-rate {
		font-weight: 500;
		font-size: 15px;
		line-height: 22px;
		padding: 10px 18px;
		overflow: hidden;
		background: rgba(255, 255, 255, 0.08);
		cursor: pointer;

		@media(max-width: 425px) {
			font-size: 14px;
		}

		@media(max-width: 425px) {
			text-align: center;
		}
	}

	&__current-rate.active,
	&__second-rate.active {
		background: #DCFC34;
		color: #262626;
	}

	&__currency-price {
		display: flex;
		gap: 0 25px;

		@media(max-width: 610px) {
			flex-direction: column;
			gap: 25px 0;
		}

		@media(max-width: 375px) {
			gap: 10px 0;
		}
	}

	&__currency-box {
		display: flex;
		align-items: center;
		gap: 0 15px;
    min-width: 0;
	}

  &__currency {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    & input {
      padding: 0;
      min-width: 0;
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      border: none;
      background: transparent;
    }
  }

	&__first-currency,
	&__second-currency {
		display: flex;
		justify-content: space-between;
		padding: 12px 15px;
		border-radius: 6px;
		width: 250px;
		background: rgba(255, 255, 255, 0.08);
		align-items: center;

		@media(max-width: 610px) {
			width: 100%;
		}

	}

	&__currency-name {
		font-weight: 400;
		font-size: 16px;
		color: #B7B7BD;
	}

	&__report {
		padding: 40px;
		display: flex;
		flex-direction: column;
		gap: 40px 0;

		@media(max-width: 768px) {
			gap: 25px 0;

		}
	}

	&__report-item {
		padding-bottom: 40px;

		&:not(:last-child) {
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		}

		@media(max-width: 768px) {
			padding-bottom: 25px;
		}
	}

	&__report-title {
		margin-bottom: 4px;

		@media(max-width: 768px) {
			font-size: 14px;
		}
	}

	&__report-price-box {
		display: flex;
		gap: 0 8px;
	}

	&__report-price {
		font-weight: 500;
		font-size: 26px;
		line-height: 30px;
	}

	&__report-procent {
		font-weight: 500;
		font-size: 14px;
		text-align: center;
		background: rgba(255, 255, 255, 0.08);
		border-radius: 40px;
		padding: 4px 8px;
	}

	&__price-box {
		display: flex;
		gap: 0 40px;

		@media(max-width: 768px) {
			gap: 40px 0;
			flex-direction: column;
		}

		@media(max-width: 610px) {
			flex-direction: row;
			justify-content: unset;
			gap: 0 40px;
		}

		@media(max-width: 425px) {
			flex-direction: column;
			gap: 25px 0;
		}
	}

	&__price-sum-box {
		display: flex;
		gap: 0 5px;
	}

	&__price-sum-title {
		font-weight: 500;
		font-size: 15px;
		line-height: 22px;
	}

	&__price-sum-count {
		font-weight: 700;
		font-size: 46px;
		line-height: 50px;
		letter-spacing: -0.04em;

		color: rgba(255, 255, 255, 0.6);
	}

	&__price-btn {
		padding: 19px 32px;

		@media(max-width: 768px) {
			margin-top: auto;
		}

		@media(max-width: 425px) {
			max-width: 100%;
			width: 100%;
		}
	}
}

#m-slider {
	width: 100%;
	height: 6px;
}

.noUi-target {
	background: #ECEDEE !important;
	border: none !important;
	border-radius: 10px;
}

.noUi-connect {
	background: #DCFC34 !important;
}

.noUi-horizontal .noUi-handle {
	width: 30px !important;
	height: 30px !important;
	border-radius: 50px;
	background: #DCFC34;
	border: 8px solid #4B4C5A;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
	top: -12px !important;
	cursor: pointer;
}

.noUi-touch-area,
.noUi-handle:before,
.noUi-handle:after {
	display: none !important;
}
