.calculator {
	margin-bottom: 80px;

	@media (max-width: 768px) {
		margin-bottom: 50px;
	}

	&__title {
		max-width: 600px;
		margin: 0 auto 30px;
	}

	&__about {
		font-weight: 400;
		font-size: 17px;
		line-height: 26px;
		text-align: center;
		letter-spacing: -0.02em;
		margin-bottom: 30px;
		color: rgba(255, 255, 255, 0.6);

		@media (max-width: 425px) {
			margin-bottom: 25px;
	}
	}

	&__about--bot {
		font-size: 15px;
		line-height: 26px;
		color: rgba(255, 255, 255, 0.4);
		margin-bottom: 0;
	}

	&__about, &__about--bot {
		font-size: 15px;
		line-height: 24px;
	}



	&__inner {
		display: grid;
		grid-template-columns: minmax(385px, 600px) minmax(235px, 385px);
		grid-template-rows: 420px 155px;
		gap: 15px;
		margin-bottom: 30px;

		@media (max-width: 768px) {
			grid-template-columns: 1fr;
			grid-template-rows: 420px 320px 290px;
			gap: 15px;
			margin-bottom: 25px;
		}
	}

	&__frame,
	&__report,
	&__price {
		background: #4B4C5A;
		border-radius: 30px;

		@media (max-width: 768px) {
			padding: 23px !important;
		}
	}

	&__frame {
		padding: 60px 40px;
	}

	&__invest-price-box,
	&__teraheshy-box {
		display: flex;
		flex-direction: column;
		gap: 5px 0;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}

	&__invest-price-box {
		position: relative;

		&::before {
			position: absolute;
			content: "$";
			top: 40px;
			right: 0;
			font-weight: 700;
			font-size: 46px;
			width: 30px;
			height: 50px;
		}
	}

	&__invest-box {
		display: flex;
		gap: 0 75px;
		margin-bottom: 40px;

		@media (max-width: 768px) {
			margin-bottom: 50px;
		}
	}

	&__invest-price-text,
	&__teraheshy-text {
		font-weight: 500;
		font-size: 15px;
		line-height: 22px;

		@media (max-width: 768px) {
			font-size: 15px;
		}
	}

	&__invest-price,
	&__teraheshy {
		font-weight: 700;
		font-size: 46px;
		line-height: 50px;
		letter-spacing: -0.04em;
		border: none;
		background: #4B4C5A;

		@media (max-width: 768px) {
			font-size: 40px;
			line-height: 42px;
		}
	}

	&__invest-price {
		width: 115px;

		@media (max-width: 768px) {
			width: 110px;
		}
	}

	&__teraheshy {
		width: 30px;
	}

	&__price {
		grid-column-start: 1;
		grid-column-end: 3;
		display: flex;
		margin-bottom: 30px;

		padding: 40px;
		display: flex;
		justify-content: space-between;
		height: 155px;
		align-items: center;

		@media (max-width: 768px) {
			grid-column-start: 1;
			grid-column-end: 1;
			height: auto;
		}

		@media (max-width: 610px) {
			flex-direction: column;
		}

		@media (max-width: 425px) {
			margin-bottom: 25px;
			align-items: flex-start;
			gap: 25px 0;
			height: 305px;

		}
	}

	&__currency-rate {
		display: flex;
		border-radius: 12px;
		overflow: hidden;
		width: fit-content;
		margin-bottom: 30px;

		@media(max-width: 600px) {
			margin-bottom: 25px;
		}

	}

	&__current-rate,
	&__second-rate {
		font-weight: 500;
		font-size: 15px;
		line-height: 22px;
		padding: 10px 18px;
		overflow: hidden;

		@media(max-width: 425px) {
			font-size: 14px;
		}
	}

	&__current-rate {
		background: #DCFC34;
		color: #262626;

	}

	&__second-rate {
		background: rgba(255, 255, 255, 0.08);
	}

	&__currency-price {
		display: flex;
		gap: 0 25px;

		@media(max-width: 610px) {
			flex-direction: column;
			gap: 25px 0;
		}
	}

	&__currency-box {
		display: flex;
		align-items: center;
		gap: 0 15px;
	}

	&__first-currency,
	&__second-currency {
		display: flex;
		justify-content: space-between;
		padding: 12px 15px;
		border-radius: 6px;
		width: 250px;
		background: rgba(255, 255, 255, 0.08);
		align-items: center;

		@media(max-width: 610px) {
			width: 100%;
		}

	}

	&__currency-name {
		font-weight: 400;
		font-size: 16px;
		color: #B7B7BD;
	}

	&__report {
		padding: 40px;
		display: flex;
		flex-direction: column;
		gap: 40px 0;

		@media(max-width: 768px) {
			gap: 25px 0;

		}
	}

	&__report-item {
		padding-bottom: 40px;

		&:not(:last-child) {
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		}

		@media(max-width: 768px) {
			padding-bottom: 25px;
		}
	}

	&__report-title {
		margin-bottom: 4px;

		@media(max-width: 768px) {
			font-size: 14px;
		}
	}

	&__report-price-box {
		display: flex;
		gap: 0 8px;
	}

	&__report-price {
		font-weight: 500;
		font-size: 26px;
		line-height: 30px;
	}

	&__report-procent {
		font-weight: 500;
		font-size: 14px;
		text-align: center;
		background: rgba(255, 255, 255, 0.08);
		border-radius: 40px;
		padding: 4px 8px;
	}

	&__price-box {
		display: flex;
		gap: 0 40px;

		@media(max-width: 768px) {
			gap: 40px 0;
			flex-direction: column;
		}

		@media(max-width: 610px) {
			flex-direction: row;
			justify-content: unset;
			gap: 0 40px;
		}

		@media(max-width: 425px) {
			flex-direction: column;
			gap: 25px 0;
		}
	}

	&__price-sum-box {
		display: flex;
		gap: 0 5px;
	}

	&__price-sum-title {
		font-weight: 500;
		font-size: 15px;
		line-height: 22px;
	}

	&__price-sum-count {
		font-weight: 700;
		font-size: 46px;
		line-height: 50px;
		letter-spacing: -0.04em;

		color: rgba(255, 255, 255, 0.6);
	}

	&__price-btn {
		padding: 19px 32px;
		line-height: 1.2;

		@media(max-width: 768px) {
			margin-top: auto;
		}

		@media(max-width: 425px) {
			max-width: 100%;
			width: 100%;
		}
	}
}

.range {
	position: relative;
	display: flex;
	margin-bottom: 40px;

	&__slider {
		-webkit-appearance: none;
		width: 100%;
		outline: none;
		height: 6px;
		background: #ECEDEE;
		border-radius: 10px;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 14px;
			height: 14px;
			cursor: pointer;
			z-index: 3;
			position: relative;
		}
	}

	&__thumb {
		position: absolute;
		width: 30px;
		height: 30px;
		background: #4B4C5A;
		border-radius: 50px;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 14px;
			height: 14px;
			background: #DCFC34;
			border-radius: inherit;
		}
	}

	&__progress {
		width: 50%;
		height: 6px;
		border-radius: 10px;
		background: #DCFC34;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		pointer-events: none;

	}
}