.logo {
	width: 166px;
	height: 66px;
	margin-bottom: 70px;

	img {
		max-width: 100%;
		max-height: 100%;
	}

	@media (max-width: 425px) {
		margin: 0 auto 65px;
	}
}

.first-frame {
	padding-top: 60px;
	max-width: 1920px;
	margin: 0 auto 85px;
	overflow-x: clip;

	@media (max-width: 425px) {
		margin-bottom: 45px;
	}

	&__info {
		position: relative;
		max-width: 500px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 40px 0;
		z-index: 3;
	}

	&__inner {
		position: relative;
	}

	&__gradient {
		position: absolute;
		top: 0;
		width: 400px;
		height: 400px;
		right: -80px;
		background: linear-gradient(180deg, rgba(246, 247, 248, 0.3) 0%, rgba(119, 132, 255, 0.3) 100%);
		filter: blur(100px);
		background-size: contain;

		@media(max-width: 610px) {
			background: none;
		}
	}

	&__bg {
		position: absolute;
		top: -135px;
		right: -80px;
		background-image: url('@/assets/images/first-frame-bg.png');
		background-repeat: no-repeat;
		background-position: 0 100px;
		background-size: 600px;
		width: 605px;
		height: 605px;
		z-index: 1;

		@media(max-width: 975px) {
			opacity: .5;
		}

		@media(max-width: 610px) {
			top: -215px;
			right: -410px;
			opacity: .2;
		}
	}

	&__title {
		font-style: normal;
		font-weight: 800;
		font-size: 82px;
		line-height: 80px;

		@media (max-width: 768px) {
			font-size: 60px;
			line-height: 62px;
		}

		@media (max-width: 375px) {
			font-size: 54px;

		}
	}

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
		line-height: 26px;
		letter-spacing: -0.02em;

		@media (max-width: 768px) {
			font-size: 15px;
			line-height: 24px;
		}
	}

	&__btn {
		padding: 18px 0;
		max-width: 286px;

		@media (max-width: 435px) {
			max-width: 100%;
		}
	}
}
